@font-face {
  font-family: 'lmnova';
  src:
    local('lmnova'),
    url('assets/fonts/lmnova/lmnova.eot?7m3wuv#iefix') format('embedded-opentype'),
    url('assets/fonts/lmnova/lmnova.ttf?7m3wuv') format('truetype'),
    url('assets/fonts/lmnova/lmnova.woff?7m3wuv') format('woff'),
    url('assets/fonts/lmnova/lmnova.svg?7m3wuv#lmnova') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='lmnova'], [class*=' lmnova'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'lmnova' !important;
  speak: never;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fill.home:before {
  content: '\e93d';
}
.fill.comment:before {
  content: '\e93e';
}
.fill.rocket:before {
  content: '\e93f';
}
.fill.calendar:before {
  content: '\e940';
}
.fill.message:before {
  content: '\e941';
}
.fill.profile:before {
  content: '\e942';
}
.fill.reply:before {
  content: '\e943';
}
.fill.notification:before {
  content: '\e944';
}
.fill.group:before {
  content: '\e945';
}
.fill.sun:before {
  content: '\e946';
}
.fill.share:before {
  content: '\e947';
}
.fill.google:before {
  content: '\e948';
}
.fill.facebook:before {
  content: '\e949';
}
.fill.twitter:before {
  content: '\e94a';
}
.fill.trouble:before {
  content: '\e94b';
}
.fill.send:before {
  content: '\e94c';
}
.fill.settings:before {
  content: '\e94d';
}
.fill.leave:before {
  content: '\e94e';
}
.fill.dark:before {
  content: '\e94f';
}
.fill.post:before {
  content: '\e950';
}
.fill.podcasts:before {
  content: '\e951';
}
.fill.fire:before {
  content: '\e952';
}
.lmnovaLike:before {
  content: '\e953';
}
.fill.growing:before {
  content: '\e954';
}
.fill.report:before {
  content: '\e955';
}
.fill.feedback:before {
  content: '\e956';
}
.fill.inbox:before {
  content: '\e957';
}
.fill.interviews:before {
  content: '\e958';
}
.fill.business:before {
  content: '\e959';
}
.fill.follow:before {
  content: '\e95a';
}
.fill.menu:before {
  content: '\e95b';
}
.outline.align-left:before {
  content: '\e900';
}
.outline.align-middle:before {
  content: '\e901';
}
.outline.align-right:before {
  content: '\e902';
}
.outline.list-point:before {
  content: '\e903';
}
.outline.list-number:before {
  content: '\e904';
}
.outline.text-underline:before {
  content: '\e905';
}
.outline.text-italic:before {
  content: '\e906';
}
.outline.text-strikethrow:before {
  content: '\e907';
}
.outline.text-code:before {
  content: '\e908';
}
.outline.text-heading:before {
  content: '\e909';
}
.outline.text-heading-1:before {
  content: '\e90a';
}
.outline.text-heading-2:before {
  content: '\e90b';
}
.outline.text-heading-3:before {
  content: '\e90c';
}
.outline.text-paragraph:before {
  content: '\e90d';
}
.outline.text-bold:before {
  content: '\e90e';
}
.outline.text-color:before {
  content: '\e90f';
}
.outline.text-color-picker:before {
  content: '\e910';
}
.outline.search:before {
  content: '\e911';
}
.outline.image-compact:before {
  content: '\e912';
}
.outline.edit:before {
  content: '\e913';
}
.outline.seo:before {
  content: '\e914';
}
.outline.chev-right:before {
  content: '\e915';
}
.outline.chev-left:before {
  content: '\e916';
}
.outline.chev-top:before {
  content: '\e917';
}
.outline.chev-bottom:before {
  content: '\e918';
}
.outline.arrow-right:before {
  content: '\e919';
}
.outline.arrow-left:before {
  content: '\e91a';
}
.outline.arrow-top:before {
  content: '\e91b';
}
.outline.arrow-bottom:before {
  content: '\e91c';
}
.outline.link:before {
  content: '\e91d';
}
.outline.share:before {
  content: '\e91e';
}
.outline.blogging:before {
  content: '\e91f';
}
.outline.bitcoin:before {
  content: '\e920';
}
.outline.post:before {
  content: '\e921';
}
.outline.tutorial:before {
  content: '\e922';
}
.outline.design:before {
  content: '\e923';
}
.outline.check:before {
  content: '\e924';
}
.outline.web:before {
  content: '\e925';
}
.outline.close:before {
  content: '\e926';
}
.outline.mention:before {
  content: '\e927';
}
.outline.more-horizontal:before {
  content: '\e928';
}
.outline.more-vertical:before {
  content: '\e929';
}
.outline.follow:before {
  content: '\e92a';
}
.outline.comment:before {
  content: '\e92b';
}
.outline.info:before {
  content: '\e92c';
}
.outline.view:before {
  content: '\e92d';
}
.outline.image-wide:before {
  content: '\e92e';
}
.outline.upload:before {
  content: '\e92f';
}
.outline.expand:before {
  content: '\e930';
}
.outline.voice:before {
  content: '\e931';
}
.outline.like:before {
  content: '\e932';
}
.outline.new-mark:before {
  content: '\e933';
  // color: #0ecc8d;
}
.outline.new-badge:before {
  content: '\e934';
  // color: #0ecc8d;
}
.outline.following:before {
  content: '\e935';
  // color: #6570f7;
}
.outline.popular:before {
  content: '\e936';
  // color: #eea956;
}
.outline.instagram:before {
  content: '\e937';
}
.outline.facebook:before {
  content: '\e938';
}
.outline.twitter:before {
  content: '\e939';
}
.outline.linkedin:before {
  content: '\e93a';
}
.outline.checkbox-check:before {
  content: '\e93b';
  color: #ff4401;
}
.outline.checkbox-uncheck:before {
  content: '\e93c';
  color: #97989d;
}
.outline.video:before {
  content: '\e95c';
}
.outline.image-compact-sm:before {
  content: '\e95d';
}
.outline.wallet:before {
  content: '\e95e';
}
.outline.clear:before {
  content: '\e95f';
}
.outline.search-fail:before {
  content: '\e960';
}
.outline.grid:before {
  content: '\e961';
}
.outline.profile:before {
  content: '\e962';
}
.outline.chev-thin-right:before {
  content: '\e963';
}
.outline.chev-thin-left:before {
  content: '\e964';
}
.outline.chev-thin-top:before {
  content: '\e965';
}
.outline.chev-thin-bottom:before {
  content: '\e966';
}
.outline.close-compact:before {
  content: '\e967';
}
.outline.close-extend:before {
  content: '\e968';
}
.outline.carrot-right:before {
  content: '\e969';
}
.outline.carrot-left:before {
  content: '\e96a';
}
.outline.carrot-top:before {
  content: '\e96b';
}
.outline.carrot-bottom:before {
  content: '\e96c';
}
.outline.chev-compact-right:before {
  content: '\e96d';
}
.outline.chev-compact-left:before {
  content: '\e96e';
}
.outline.chev-compact-top:before {
  content: '\e96f';
}
.outline.chev-compact-bottom:before {
  content: '\e970';
}
.outline.like-broken:before {
  content: '\e971';
}
.outline.social-facebook:before {
  content: '\e972';
}
.outline.social-twitter:before {
  content: '\e973';
}
.outline.social-kakao:before {
  content: '\e974';
}
.outline.social-discord:before {
  content: '\e975';
}
.outline.setting:before {
  content: '\e976';
}
.outline.hourglass:before {
  content: '\e977';
}
.outline.reward:before {
  content: '\e978';
}

.outline.write:before {
  content: '\e979';
}
.outline.recommended-get:before {
  content: '\e97a';
}
.outline.recommended-set:before {
  content: '\e97b';
}
.outline.gift-box:before {
  content: '\e97c';
}
.outline.magnifier:before {
  content: '\e97d';
}
.outline.feedback:before {
  content: '\e97e';
}
.outline.lock:before {
  content: '\e97f';
}
.outline.like-fill:before {
  content: '\e980';
}
.outline.view-off:before {
  content: '\e981';
}
.outline.radio-check:before {
  content: '\e982';
  color: #ff4401;
}
.outline.radio-uncheck:before {
  content: '\e983';
  color: #97989d;
}

